/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  color: transparent;
  border: 0;
  clip: rect(0 0 0 0);
}

.table-wrap {}

.table-box table {
  color: #ffff;
}
.table-box thead th {
  font-size: 42rem;
}
/* .table-box thead tr {
  border-bottom: 4rem solid #fff;
} */
.table-box tbody{
  border-top: 4rem solid #fff;
  border-bottom: 4rem solid #fff;
}
.table-box tbody td {
  font-size: 52rem;
  text-align: center;
  vertical-align: middle;
  /* padding: 6rem 0; */
  padding: 11rem 0;
}
.table-box tbody tr + tr {
  border-top: 2rem solid rgba(255, 255, 255, 0.2);
}

.table-box tbody td .name {
  font-size: 47rem;
}
.table-box tbody td .name-en {
  font-size: 36rem;
}

.table-box tbody td .pos {
  font-size: 47rem;
}
.table-box tbody td .positive {
  color: #23f2ff;
}
.table-box tbody td .red {
  color: #f15922;
}

.table-box .name-box {

}

/* --- 테이블 2개 --- */
.table-wrap.table-wrap02 {
  display: flex;
  gap: 20rem;
}

.table-wrap.table-wrap02 .table-box thead th {
  font-size: 38rem;
}

.table-wrap.table-wrap02 .table-box tbody td {
  font-size: 43rem;
}
.table-wrap.table-wrap02 .table-box tbody td .name {
  font-size: 41rem;
}
.table-wrap.table-wrap02 .table-box tbody td .name-en {
  font-size: 33rem;
}
