@charset "utf-8";

/**
 * --------------------------------
 * base CSS
  * creator : jinny
 * --------------------------------
*/

/* ---- font ----*/
@font-face {
  font-family: 'DBGothic';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../font/DBGothicL_OTF.otf') format('opentype'),
       url('../font/DBGothicL.ttf') format('truetype');
}

@font-face {
  font-family: 'DBGothic';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../font/DBGothicM_OTF.otf') format('opentype'),
       url('../font/DBGothicM.ttf') format('truetype');
}

@font-face {
  font-family: 'DBGothic';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../font/DBGothicB_OTF.otf') format('opentype'),
       url('../font/DBGothicB.ttf') format('truetype');
}

/* :root {} 2026-03-29 삭제 */

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* 전광판/행사용이면 hidden */
}

html {
   /* 1rem = 스케일된 1px */
  font-size: var(--rem);
  overflow: auto; /* 2026-03-29 */
  scroll-behavior: smooth;
}


body {
  font-size: 10rem;
  margin: 0;
  padding: 0;
  word-break: keep-all;
  font-family: 'DBGothic', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;  /* iOS 자동 확대 방지 */
}

/* .wrapper { 2026-03-29 삭제
  width: 100vw;
  height: 100vh;
   aspect-ratio: 16/9;
} */

* {
  scroll-behavior: inherit;
  scrollbar-width: inherit;
}
body > * {
    box-sizing: border-box;
    /* scroll */
  --color-scrollbar-track-edge: Transparent;
  --margin-scrollbar: calc(var(--rem) * 2);
  --width-scrollbar: calc(var(--rem) * 4 + var(--margin-scrollbar) * 2);
}
::-webkit-resizer {
  image-rendering: pixelated;
  background: var(--obj-sym-resizer-scrollable) 0 /100%;
}
::-webkit-scrollbar {
  width: var(--width-scrollbar, 12rem);
  height: var(--width-scrollbar, 12rem);
}
::-webkit-scrollbar-corner {
  background-color: var(--color-scrollbar-track, rgba(0, 0, 0, 0.05));
  outline: 1px solid var(--color-scrollbar-corner-edge, rgba(255, 255, 255, 0.05));
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-track, rgba(0, 0, 0, 0.05));
  border: 1px solid;
  border-color: var(--color-scrollbar-track-edge, Transparent);
  border-radius: var(--radius-scrollbar-track, 2px);
  will-change: background-color;
}
::-webkit-scrollbar-thumb {
  min-width: 50px;
  min-height: 50px;
  border: var(--margin-scrollbar, 3px) solid Transparent;
  background-clip: padding-box;
  background-color: var(--color-scrollbar-thumb, rgba(0, 0, 0, 0.3));
  outline: 1px solid var(--color-scrollbar-thumb-edge, rgba(255, 255, 255, 0.3));
  outline-offset: calc(-1 * var(--margin-scrollbar, 3px));
  border-radius: var(--width-scrollbar, 12px);
  will-change: background-color, outline-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover, rgba(0, 0, 0, 0.4));
  outline-color: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbar-thumb-active, rgba(0, 0, 0, 0.5));
  outline-color: rgba(255, 255, 255, 0.5);
}

body > * {
  font-weight: 500; /* 디자인 기준 보통 */
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: inherit;
  height: inherit;
}
/* 2026-03-22 */
header,p,h1, h2, h3 {
  margin: 0;
  padding: 0;
}