/*
 * --------------------------------
 * layout 
 * --------------------------------
*/

.wrapper {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  /* width: initial;
  width:100%;
  height: 100%;
  height: 100vh; */
  background-color: #00854b;
}
.container-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22rem 25rem 21rem;
  background: url('../images/bg_01.png') no-repeat center;
  background-size: cover;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
  padding: 0 20rem;
  box-sizing: border-box;
}
.header .main-title {
  width: 490rem;
  height: 106rem;
  margin:0;
  padding:0;
}
.header .sub-title {
  font-size: 62rem;
  color: #fff;
  letter-spacing: -1.24rem;
}

/* main */
.main {
  /* 스크롤 */
  /* --color-scrollbar-track-edge: Transparent;
  --margin-scrollbar: calc(var(--rem) * 2);
  --width-scrollbar: calc(var(--rem) * 4 + var(--margin-scrollbar) * 2);

  scroll-behavior: auto;
  overscroll-behavior: contain;
  overflow: auto auto; */

  display: flex;
  flex-grow: 1;
  padding-bottom: 88rem;
  align-items: center;
  /* width: 100%; */
  /* height: calc(100% - 240rem); */
  /* height: calc(100vh- 240rem); */
}

/* footer */
footer:not(.footer-event) {
  position: absolute;
  left: 25rem;
  right: 25rem;
  bottom: 20rem;
  padding: 0 20rem;
  border-top: 4rem solid #ffff;
}
.footer-logo {
  width: 200rem;
  height: 76rem;
  margin-top: 10rem;
}