/*
 * --------------------------------
 * page-horizontal.css
   * creator : jinny
  * 가로형 (16:9)
 * --------------------------------
*/

/* 2026-03-29 (공통) 모든 클레스 앞에 .wrapper 구분 값 추가 */

/*
 * --------------------------------
 * layout
 * 기존 레이아웃 스타일은 layout.css
*/

:root {
  /* 스케일 = 1rem 크기(px) */
  --base-w: 1920;
  --base-h: 1080;
  --rem: min(100dvw / var(--base-w), 100dvh / var(--base-h));
}

:root:has(body[data-layout="horizontal"]){
  --base-w: 1920;
  --base-h: 1080;
  --rem: min(100dvw / var(--base-w), 100dvh / var(--base-h));
}
.wrapper {
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16/9; /* 브라우저 크기에 따라 자동 비율 유지 */
  overflow: hidden;
}
.wrapper {
  position: relative;
  display: flex;
  background-color: #1b342a;/* 2026-03-30 색상 변경 */
}

.wrapper .container-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22rem 25rem 21rem;
  background: url('../images/bg_01.png') no-repeat center;
  background-size: cover;
}

/* header */
.wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
  padding: 0 20rem;
  box-sizing: border-box;
}
.wrapper .header .main-title {
  width: 490rem;
  height: 106rem;
  margin:0;
  padding:0;
}
.wrapper .header .sub-title {
  font-size: 62rem;
  color: #fff;
  letter-spacing: -1.24rem;
}

/* main */
.wrapper .main {
  display: flex;
  flex-grow: 1;
  padding-bottom: 88rem;
  align-items: center;
}

/* footer */
.wrapper footer:not(.footer-event) {
  position: absolute;
  left: 25rem;
  right: 25rem;
  bottom: 20rem;
  padding: 0 20rem;
  border-top: 4rem solid #ffff; /* 이벤트 화면 외 화면: 2026-04-01 원복 */
}

.wrapper .footer-logo { /* 2026-03-30 .wrapper (띄어쓰기) .footer-logo */
  /* width: 200rem; footer-logo */
  /* height: 76rem; 2026-03-23 */
  height: 66rem; /* 2026-03-23: LED 화면 보니, 이미지가 꺠지는 해서, 재 수정 */
  margin-top: 10rem;
}

/* D: 2026-03-23 추가 */
.wrapper footer.no-line {
  border: none;
}

/*
 * --------------------------------
 * page.css
*/
.wrapper .style-col {
  flex-direction: column;
}

/* --- card  --- */
.wrapper .main.main-card {
  justify-content: center;
}
.wrapper .card-list {
  display: flex;
  gap: 46rem;
}
.wrapper .card-list .card-item {
  width: 33.33%;
  min-width: 570px; /* 2026-03-29 선수 사진 테두리 사이즈 확대 */
}
.wrapper .card-list .data-area {
  display: flex;
  justify-content: space-around;
  margin: 20rem 0 0;
}
.wrapper .card-list .data-area li {
  display: inline-flex;
  flex-direction: column;
}
.wrapper .card-list .data-area .data {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
  font-size: 60rem;
}

.wrapper .profile-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: flex-start;  2026-03-22 */
  align-items: center; /* 2026-03-29: 이미지 가운데 정렬 */
  padding: 20rem 10rem 25rem;
  height: 638rem;
  box-sizing: border-box;
  border-radius: 10rem;
  background-color: #fff;
}
.wrapper .profile-area .img-box {
  height: 450rem;
  overflow: hidden; /* 2026-03-22 */
}
.wrapper .profile-area .img-box img {
  /* width: 500rem;*/
  height: 450rem; /* 2026-03-22 */
  max-height: 450px; /* 2026-03-22 */
}
.wrapper .profile-area .name-box {
  /* D: 2026-03-23
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center; 
  margin-top: 20rem;*/
  margin: 20rem auto 0; /* D: 2026-03-23 */
  font-weight: 600;
  color: #1b342a;/* 2026-03-30 색상 변경 */
  text-align: center; /* D: 2026-03-23 */
}
.wrapper .profile-area .name-box .name {
  font-size: 66rem;
  letter-spacing: -1.36rem;
}
.wrapper .profile-area .name-box .name.name-long {
  font-size: 48rem; /* D: 2026-03-23 */
}
.wrapper .profile-area .name-box .name-en {
  /* margin-left: 8rem; D: 2026-03-23 */
  font-size: 29rem;
  letter-spacing: -0.66rem;

  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.wrapper .profile-area .name-box .name-en::before {
  /* content: ''; */
  position: absolute;
  display: inline-block;
  width: 4rem;
  height: 100%;
  background-color: #1b342a;/* 2026-03-30 색상 변경 */
}


/* --- data-area ---*/
.wrapper .data-area li .name {
  color: #1b342a;/* 2026-03-30 색상 변경 */
  background-color: #fff;
}
.wrapper .data-area li .data {
  color: #fff;
}
.wrapper .data-area li .data.red {
  color: red;
}
/* data-area.size */
.wrapper .data-area.small .name {
  padding: 0 20rem;
  border-radius: 20rem;
  font-size: 33rem;
}
.wrapper .data-area.small .data {
  font-size: 65rem;  /* 2026-03-22  : 화면 꺠져서 테스트*/
  /* font-size: 75rem; */
}

.wrapper .data-area.medium {
  font-size: 40rem;
}
.wrapper .data-area.medium .name {
  padding: 0rem 20rem 1rem; /* 2026-04-01 */
  border-radius: 28rem;
}


/* --- page-personal --- */
.wrapper .personal-wrap {
  display: flex;
  align-items: anchor-center;
}
.wrapper .personal-wrap .img-box {
  height: 800rem;
}
.personal-img {
  width: 700rem;
  height: 800rem;
}

.wrapper .personal-wrap .name-box {
  color: #fff;
}
.wrapper .personal-wrap .name-box .name {
  font-size: 98rem;
  letter-spacing: -1.9;
}
.wrapper .personal-wrap .name-box .name-en {
  font-size: 39rem;
  letter-spacing: -0.7;
}

/* --- page: personal ---- */
.wrapper .personal-wrap .data-area.style-row.big {
  display: flex;
  gap: 65rem;
  margin: 30rem 30rem 32rem;;
}
.wrapper .personal-wrap .data-area.style-row.big li {
  display: flex;
  align-items: center; /* 2026-03-29 문구 좌우 가운데 */
}
.wrapper .data-area.big .name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 219rem;
  height: 72rem; /* 2026-04-01 */
  margin-right: 65rem;
  padding-bottom: 4rem; /* 2026-04-01 : 가운데 정렬이지만, 폰트 스타일 떄문에 강제로 적용 */
  /* padding: 10rem 0 2rem; 2026-03-31 필요시 숫자로 수정 필요 */
  border-radius: 50rem;
  box-sizing: border-box;
  font-size: 54rem;
  letter-spacing: -1rem;
}
.wrapper .data-area.big .data {
  font-size: 75rem;
}

/* --- page: event ---- */
.wrapper:has(.main-event) {
  background-color: transparent; /* 이벤트 화면 2026-03-31 : 배경 색상 값으로 수정하는게 안전 */
}

.wrapper .container-page-event .main-event {
  background-color: transparent;  /* 이벤트 화면 2026-03-31 배경 색상 값으로 수정하는게 안전 */
  padding-bottom: 140rem; /* 2026-03-29 추가 */
}
.wrapper .container-section[data-page="page-event"] {
  padding: 0;
  background-image: none;
}
.wrapper .container-section.container-page-event {  /* 이벤트 화면 2026-03-31 */
  padding: 0; /* 2026-03-29 */
  background-image: none; /* 이벤트 화면 2026-03-31 */
}
/* 2026-03-29 : 이벤트 상단에 로고 추가되면서 해당 간격 추가 */
.wrapper .container-page-event .header {
  margin-top: 22rem;
  margin-left: 25rem;
}
.wrapper footer.footer-event {
/* s: 2026-03-29 */
  /* s: 이벤트 화면 2026-03-31
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%; */
    /* e: 2026-03-31 삭제 */
  /* e: 2026-03-29 */

  height: 140rem; 
  max-height: 140rem; /* 2026-03-29 */
  padding: 0 12rem 0 42rem;;
  color: #fff;  /* 이벤트 하단 색상 값을 넣어주는게 ui 안 깨집니다. 2026-03-31 */
   /* color: transparent;  이벤트 화면 2026-03-31 */
  border-top: 0;
  box-sizing: border-box;
  /* background-color: #1b342a; 이벤트 화면 2026-03-31  배경색 넣기 */
}
.wrapper .footer-event .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130rem; /* 2026-04-01 */
  padding: 5rem 0; /* 2026-04-01 */
}
.wrapper .footer-event .title-box {
  display: flex;
  gap: 83rem;
  align-items: center;
}
.wrapper .footer-event .footer-title {
  font-size: 77rem;
  letter-spacing: -3.8rem;
}
.wrapper .footer-event .data-area li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .footer-event .name-area {
  display: flex;
  align-items: center;
}
 /* 2026-04-01 : 내용추가 */
.wrapper .footer-event .name-area .title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136rem;
  height: 96rem;
  margin-right: 68rem;
  border-radius: 24rem;
  background-color: #fff;
}
 /* 2026-04-01 : 내용 수정 */
.wrapper .footer-event .name-area .title {
  font-size: 77rem;
  color: #1b342a;/* 이벤트 화면 2026-03-31: 색상 값 지정 필요 -> 아니면 안 보입니다. */
  /* color: transparent;이벤트 화면 2026-03-31 2026-03-30 색상 변경 */
  margin-top: -1rem;
}
 /*2026-04-01: 전달 못 함..*/
.wrapper .footer-event .name-area .title::before {
  position: absolute;
  content: '';
  display: block;


}
.wrapper .footer-event .name-box .name {
  font-size: 77rem;
}
.wrapper .footer-event .name-box .name-en {
  font-size: 68rem;
}
/* 2025-03-30: 이름이 긴 경우 폰트 사이즈 조정 (최대 이름 : 빳차라쭈타 콩끄라판(I) - 17자)
   영문 삭제
*/
.wrapper .footer-event .name-box .name.name-long {
  font-size: 60rem; /* 2026-03-29 */
}
.wrapper .footer-event .name-box .name.name-long + .name-en {
  display: none; /* D: 2026-03-23 */
}
.wrapper .footer-event .data-area.small {
  overflow: hidden; /* D: 2026-03-23 */
  display: flex;
  gap: 20rem;
  height: 130rem; /* 2026-04-01 */
}
/* 2026-03-29 테스트용 */
.wrapper .name-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .small-name {font-size: 66rem;} /* 2026-03-29: 추가 */ 

/*
 * --------------------------------
 * table
 * --------------------------------
*/

.wrapper table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper caption {
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  color: transparent;
  border: 0;
  clip: rect(0 0 0 0);
}
.wrapper table, .wrapper th, .wrapper td {
  font-weight: 500;
}
.wrapper .table-box table {
  color: #ffff;
}
.wrapper .table-box thead {
  border-bottom: 4rem solid #fff;
}
.wrapper .table-box thead th {
  font-size: 38rem;
}
.wrapper .table-box tbody td {
  font-size: 43rem;
  text-align: center;
  vertical-align: middle;
  padding: 8rem 0;
  height: 76rem;
  box-sizing: border-box;
}
.wrapper .table-box tbody tr + tr {
  border-top: 2rem solid rgba(255, 255, 255, 0.2);
}
.wrapper .table-box tbody .name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center; /* D: 2026-03-23 */
}
.wrapper .table-box tbody td .name {
  font-size: 29rem;
  line-height: 1.2;
}
.wrapper .table-box tbody td .name-en {
  font-size: 19rem;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.wrapper .table-box tbody td .positive {
  color: #23f2ff;
}
.wrapper .table-box tbody td .red {
  color: #f15922;
}

/* --- table: style-b ---- */
.wrapper .table-box.style-b + .wrapper .table-box.style-b {
  margin-top: 7rem;
}
.wrapper .table-box.style-b table {
  border-top: 4rem solid #fff;
  border-bottom: 4rem solid #fff;
}
.wrapper .table-box.style-b tbody {
  border-top: 4rem solid #fff;
}
.wrapper .table-box.style-b tbody th {
  width: 152rem;
  box-sizing: border-box;
  font-size: 43rem;
}
.wrapper .table-box.style-b tbody tr + tr {
  border-top: 4rem solid #fff;
}
.wrapper .table-box.style-b tbody tr:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}
.wrapper .table-box.style-b tbody td {
  height: 88rem;
  border-left: 4rem solid #fff;
}

/* --- 테이블 2개 --- */
.wrapper .table-wrap.table-duo {
  display: flex;
  gap: 20rem;
}
.wrapper .table-box.big tbody td {
  height: 84rem;
}
/* .wrapper .table-box.big tbody td {
  font-size: 30rem;
  line-height: 1.2; 2026-03-30 테이블 폰트 작은거 삭제
} */

/* .wrapper .table-box.big tbody td {
  font-size: 20rem; 2026-03-30 테이블 폰트 작은거 삭제
} */

/* --- s: 테이블 2개 : page-table_duo02 열 2개 D: 2026-03-23 --- */
.wrapper .table-wrap.table-duo .table-box tbody {
  border-bottom: 4rem solid #fff;
}
.wrapper .table-wrap.table-duo.table-duo-row09 .table-box tbody td {
  height: 84rem;
}
/* --- e 테이블 2개 : page-table_duo02 열 2개 D: 2026-03-23 --- */
/*
 * --------------------------------
 * table
  * 애니메이션
 * --------------------------------
*/
/* 전환 기본값 */
.wrapper #leader-tbody {
  transition: opacity .35s ease, transform .35s ease;
}

/* 페이드아웃(살짝 아래로) */
.wrapper #leader-tbody.is-leave {
  opacity: 0;
  transform: translateY(0.6rem);
}

/* 페이드인(원위치) */
.wrapper #leader-tbody.is-enter {
  opacity: 0;
  transform: translateY(-0.6rem);
}
.wrapper #leader-tbody.is-enter.is-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .35s ease, transform .35s ease;
}