/*
 * --------------------------------
 * page-vertical
   * creator : jinny
 * --------------------------------
*/

.wrapper-vertical {
  width: 100vw;
  aspect-ratio: 2/3;
  max-height: 100vh;
  height: 100vh;
}
.wrapper-vertical {
  position: relative;
  display: flex;
  /* background: url('../images/bg_green.png') no-repeat 100% 100%; */
  /* D: 관리자로 배경 이미지넣기: 2026-03-13 */
  background-image: url('../images/bg_green.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}
.wrapper-vertical .inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.wrapper-vertical > .inner {
  padding: 119rem 140rem 116rem;
}
.wrapper-vertical > .inner02 {
  padding: 50rem 160rem 98rem;
  text-align: center;
}

.logo-header {
  width: 1000rem;
  height: auto;
}

.wrapper-vertical > .inner-table {
  padding: 50rem 50rem 98rem;
  align-items: center;
}
.wrapper-vertical > .inner-table .logo-header {
  width: 874rem;
}
.wrapper-vertical > .inner-table .main {
  align-items:flex-start;
  width: 100%;
}

.wrapper-vertical .inner02 .logo-header {
  width: 874rem;
  height: auto;
}

/* footer*/
.footer-logo {
  width: 472rem;
}

/* main 
*/
.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.main > .inner {
  text-align: center;
  color: #03854b;
  font-size: 100rem;
}
.data-time {
  font-size: 240rem;
}

/* 
  data-inner : 세로형 03 상세안내
 */
.data-inner {
  width: 100%;
}
.data-inner > .data-time {
  font-size: 210rem;
}

.data-inner .data-box > .title {
  display: flex;
  border-bottom: 4px solid #03854b;
}
.data-inner .data-box .title li,
.data-inner .data-box .data li,
.data-inner .sub-box .title li {
  width: 50%;
}
.data-inner .data-box .data {
  display: flex;
  font-size: 160rem;
  font-weight: bold;
}

.data-inner .data-box.data-box01 {
  margin-top: 45rem;
}
.data-inner .data-box.data-box01 .data {
  margin-top: 14rem;
}

.data-inner .data-box.data-box02 {
  margin-top: 30rem;
  border-bottom: 4px solid #03854b;
}
.data-inner .data-box.data-box02 .data02 li {
  display: flex;
  align-items: center;
  padding: 32rem 0;
  font-size: 130rem;
}
.data-inner .data-box.data-box02 .data02 li > span {
  width: 50%;
}
.data-inner .data-box.data-box02 .data02 li + li {
  border-top: 2px solid rgba(3, 133, 75, 0.2);
}

.data-inner .data-box.data-box02 .data02 .score {
  color: #f15922;
  font-size: 120rem;
}

/* data-box-half : 세로형_03_상세안내_02 */
.data-box01.data-box-half > .title {
  display: inline-block;
  padding: 0 80rem;
}
.data-inner .data-box.data-box01.data-box-half > .data {
  justify-content: center;
}
/* 세로형_03_상세안내 */
.wrapper-vertical > .inner02 .round {
  margin-top: 49rem;
}
/* data-box03 : 세로형 04 연습그린 
*/
.main.main-green {
  margin-top: 90rem;
}
.data-inner .data-box.data-box03 {
  margin-top: 79rem;
  margin-bottom: 70rem;
}
.data-inner .data-box.data-box03 > .title li {
  width: 100%;
}
.data-inner .sub-data .sub-title {
  display: flex;
  margin-top: 27rem;
  font-size: 80rem;
}
.data-inner .sub-data .sub-title > li {
  width: 50%;
}
.data-inner .data-box.data-box03 .data {
  font-size: 140rem;
}
.data-inner .sub-box .data li {
  font-size: 140rem;
}
/* 관리자 화면에서 색상 지정 */
.s-color {
  color: #000;
}

/* data-single: 너비 100% */
.data-inner .data-box.data-single .title li,
.data-inner .data-box.data-single .data li {
  width: 100%;
}
.data-inner .data-box.data-single + .data-box.data-single {
  margin-top: 50rem;
}
.data-inner .data-box.data-single .data {
  margin-top: 18rem;
}
.data-inner .data-box.data-single .data li {
  font-size: 130rem;
}


/* 
  * data-table 
*/
.inner-table .data-inner {
  height: 100%;
}
.inner-table .data-inner .round {
  margin: 46rem 0 55rem;
}
.data-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}
/* 공통 column 구조 */
.data-table .title,
.data-table .data-area li {
  display: grid;
  grid-template-columns: 160rem 1.2fr 1fr 1fr 1fr;
  align-items: center;
}

/* 타이틀 */
.data-table .title {
  font-size: 60rem;
  color: #03854b;
  padding-bottom: 20rem;
}
.data-table .data-area {
  display: grid;
  grid-auto-rows: auto;
  height: 100%;
  border-top: 4px solid #03854b;
  border-bottom: 4px solid #03854b;
}

/* 데이터 영역 */
.data-table .data-area li {
  font-size: 85rem;
}
.data-table .data-area li.index,
.data-table .data-area li.name {
  font-size: 80rem;
}
.data-table .data-area li + li {
  border-top: 2px solid rgba(3, 133, 75, 0.2);
}
/* 가운데 정렬 */
.data-table .data-area li > span {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 이름만 왼쪽 정렬 */
.data-table .name {
  text-align: left;
}

/* 색상 */
.red {
  color: #f15922;
}
.blue {
  color: #0060ae;
}
.score-bg {
  background-color: rgba(3, 133, 75, 0.1);
}