/*
 * --------------------------------
 * common 
 * --------------------------------
*/

.style-col {
  flex-direction: column;
}


/*
 * --------------------------------
 * component
 * --------------------------------
*/


/* --- card  --- */
.card-list {
  display: flex;
  gap: 46rem;
}
.card-list .data-area {
  display: flex;
  justify-content: space-around;
  margin: 20rem 0 0;
}
.card-list .data-area li {
  display: inline-flex;
  flex-direction: column;
}
.card-list .data-area .data {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
  font-size: 60rem;
}

.profile-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20rem 10rem 25rem;
  height: 638rem;
  box-sizing: border-box;
  border-radius: 10rem;
  background-color: #fff;
}
.profile-area .img-box {
  height: 490rem;
}
.profile-area .img-box img {
  /* width: 500rem;*/
  /* height: 490rem;  */
}
.profile-area .name-box {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 25rem;
  font-weight: 600;
  color: #00854b;
}
.profile-area .name-box .name {
  font-size: 68rem;
  letter-spacing: -1.36rem;
  
}
.profile-area .name-box .name-en {
  margin-left: 8rem;
  font-size: 33rem;
}
.profile-area .name-box .name-en::before {
  /* content: ''; */
  position: absolute;
  display: inline-block;
  width: 4rem;
  height: 100%;
  background-color: #00854b;
}


/* --- data-area ---*/
.data-area li .name {
  color: #00854b;
  background-color: #fff;
}
.data-area li .data {
  color: #fff;
}
.data-area li .data.red {
  color: red;
}
/* data-area.size */
.data-area.small .name {
  padding: 0 20rem;
  border-radius: 20rem;
  font-size: 33rem;
}
.data-area.small .data {
  font-size: 75rem;
}

.data-area.medium {
  font-size: 40rem;
}
.data-area.medium .name {
  padding: 4rem 20rem 1rem;
  border-radius: 28rem;
}


/* --- page-personal --- */
.personal-wrap {
  display: flex;
  align-items: anchor-center;
}
personal-wrap .img-box {
  height: 800rem;
}
.personal-img {
  width: 700rem;
  height: 800rem;
}

.personal-wrap .name-box {
  color: #fff;
}
.personal-wrap .name-box .name {
  font-size: 98rem;
  letter-spacing: -1.9;
}
.personal-wrap .name-box .name-en {
  font-size: 39rem;
  letter-spacing: -0.7;
}


/**
 * --------------------------------
 * page
 * --------------------------------
*/

/* --- page: personal ---- */
.personal-wrap .data-area.style-row.big {
  display: flex;
  gap: 65rem;
  margin: 30rem 30rem 32rem;;
}
.personal-wrap .data-area.style-row.big li {
  display: flex;
}
.data-area.big .name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 219rem;
  height: 73rem;
  margin-right: 65rem;
  padding: 10rem 0 2rem;
  border-radius: 50rem;
  box-sizing: border-box;
  font-size: 54rem;
  letter-spacing: -1rem;
}
.data-area.big .data {
  font-size: 75rem;
}

/* --- page: event ---- */
.wrapper:has(.main-event) {
  background-color: #fff;
}
.container-section[data-page="page-event"] {
  width: 1920rem;
  padding: 0;
  background-image: none;

}
footer.footer-event {
  /* width: 1920px; */
  height: 140rem;
  padding: 0 12rem 0 42rem;;
  color: #fff;
  border-top: 0;
  box-sizing: border-box;
  background-color: #00854b;
}
.footer-event .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-event .title-box {
  display: flex;
  gap: 83rem;
  align-items: center;
}
.footer-event .footer-title {
  font-size: 77rem;
  letter-spacing: -3.8rem;
}
.footer-event .data-area li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.footer-event .name-area {
  display: flex;
  align-items: center;
}
.footer-event .name-area .title {
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  width: 136rem;
  margin-right: 72rem;
  padding-top: 9rem;
  border-radius: 24rem;
  font-size: 77rem;
  color: #00854b;
  background-color: #fff;
}
.footer-event .name-box .name {
  font-size: 77rem;
}
.footer-event .name-box .name-en {
  font-size: 68rem;
}
.footer-event .data-area.small {
  display: flex;
  gap: 20rem;
}